/* global.css */

* {
    /* JavaFX runtime */
    -fx-font-family: "Press Start 2P";
    /* Standard CSS for editors and compatibility */
    font-family: "Press Start 2P", sans-serif;
    -fx-font-size: 14px; /* optional global size */
    font-size: 14px;      /* optional standard CSS property */
    -fx-text-fill: white;
}

.menu-button {
    -fx-padding: 10 15 10 15;
    -fx-text-fill: black;
    -fx-background-insets: 0;
    -fx-border-radius: 3;
    -fx-background-radius: 5;
}

/* Optional reusable class */
.title {
    -fx-font-family: "Press Start 2P";
    font-family: "Press Start 2P", sans-serif;
    -fx-font-size: 100px;
    font-size: 100px;
    -fx-text-alignment: center;
}

.button-upgrade {
    -fx-background-color: rgba(255,255,255,0.15);
    -fx-border-width: 2px;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 15;
}